<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="style.css" />
  <title>Web Shop</title>
</head>

<body>
  <div class="grid-container">
    <header class="header">
      <div class="brand">
        <a href="index.html">Web Shop</a>
      </div>
      <div class="header-links">
        <a href="cart.html">Cart</a>
        <a href="signin.html">Sign In</a>
      </div>
    </header>
    <main class="main">
      <div class="content">
        <ul class="products">
          <li>
            <div class="product">
              <img class="product-image" src="./images/d1.jpg" alt="product" />
              <div class="product-name">
                <a href="product.html">Slim Shirt</a>
              </div>
              <div class="product-brand">Mike</div>
              <div class="product-price">€60</div>
              <div class="product-raiting">4.5 Stars (10 Rewievs)</div>
            </div>
          </li>
          <li>
            <div class="product">
              <img class="product-image" src="./images/d1.jpg" alt="product" />
              <div class="product-name">
                <a href="product.html">Slim Shirt</a>
              </div>
              <div class="product-brand">Mike</div>
              <div class="product-price">€60</div>
              <div class="product-raiting">4.5 Stars (10 Rewievs)</div>
            </div>
          </li>
          <li>
            <div class="product">
              <img class="product-image" src="./images/d1.jpg" alt="product" />
              <div class="product-name">
                <a href="product.html">Slim Shirt</a>
              </div>
              <div class="product-brand">Mike</div>
              <div class="product-price">€60</div>
              <div class="product-raiting">4.5 Stars (10 Rewievs)</div>
            </div>
          </li>
          <li>
            <div class="product">
              <img class="product-image" src="./images/d1.jpg" alt="product" />
              <div class="product-name">
                <a href="product.html">Slim Shirt</a>
              </div>
              <div class="product-brand">Mike</div>
              <div class="product-price">€60</div>
              <div class="product-raiting">4.5 Stars (10 Rewievs)</div>
            </div>
          </li>
          <li>
            <div class="product">
              <img class="product-image" src="./images/d1.jpg" alt="product" />
              <div class="product-name">
                <a href="product.html">Slim Shirt</a>
              </div>
              <div class="product-brand">Mike</div>
              <div class="product-price">€60</div>
              <div class="product-raiting">4.5 Stars (10 Rewievs)</div>
            </div>
          </li>
          <li>
            <div class="product">
              <img class="product-image" src="./images/d1.jpg" alt="product" />
              <div class="product-name">
                <a href="product.html">Slim Shirt</a>
              </div>
              <div class="product-brand">Mike</div>
              <div class="product-price">€60</div>
              <div class="product-raiting">4.5 Stars (10 Rewievs)</div>
            </div>
          </li>
        </ul>
      </div>
    </main>
    <footer class="footer">
      All rights reserved.
    </footer>
  </div>
</body>

</html>